<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.1.xsd 
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/gx5777" />
		<property name="username" value="root"></property>
		<property name="password" value="space"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- 添加Hibernate配置参数 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.autoReconnect">true</prop>
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate3.SpringSessionContext
				</prop>
				<!-- <prop key="hibernate.current_session_context_class">thread</prop> -->
				<prop key="initialPoolSize">3</prop>
				<!--连接池中保留的最小连接数。Default: 3 -->
				<prop key="minPoolSize">3</prop>
				<!--连接池中保留的最大连接数。Default: 15 -->
				<prop key="maxPoolSize">15</prop>
			</props>
		</property>

		<!-- 添加对象关系映射文件所在的目录 -->
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:com/geng/entity/</value>
			</list>
		</property>
		</bean>
	<!-- 1.配置事务管理器 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 通过<tx:advice>配置事务增强，绑定该事务管理器 -->
	<!-- <tx:advice id="txAdvice" transaction-manager="txManager"> 定义事务属性，声明事务规则,一般会依赖公司的命名规则 
		<tx:attributes> <tx:method name="find*" read-only="true"/> <tx:method name="search*" 
		propagation="REQUIRED"/> <tx:method name="query*" read-only="true"/> <tx:method 
		name="add*" propagation="REQUIRED"/> <tx:method name="update*" propagation="REQUIRED"/> 
		<tx:method name="del*" propagation="REQUIRED"/> <tx:method name="do*" propagation="REQUIRED"/> 
		<tx:method name="register" propagation="REQUIRED"/> </tx:attributes> </tx:advice> -->
	<!-- 定义切面 -->
	<!--<aop:config> 切入点 <aop:pointcut expression="execution(* com.geng.service.*.*(..))" 
		id="serviceMethod"/> 将事务增强与切入点组合连接 <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod"/> 
		</aop:config> -->
	<!-- 开启事务管理 -->
	<tx:annotation-driven transaction-manager="txManager" />

	<!--配置Action的类 -->
	<!-- 首页访问indexAction -->
	<bean id="indexAction" class="com.geng.controll.IndexAction" scope="prototype"></bean>
	<bean id="userAction" class="com.geng.controll.UserAction" scope="prototype"></bean>
	<!--配置service的类 -->

	<!--配置dao的类 -->

</beans>